.container {
  display: flex;
  height: 100vh;
}

.inputBox {
  padding: 0px;
}

.inputBox:focus-within {
  border: 1px solid black;
}

.firstLogin h5:hover {
  color: blue;
  border-bottom: 1px solid blue;
}

.firstLogin {
  margin-top: 10px;
}
