.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(220, 220, 220);
  width: 50%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.inputEmail {
  margin-bottom: 20px;
}

.inputPW {
  margin-bottom: 20px;
}

.Email {
  border-radius: 10px;
  padding: 10px 10px 10px;
}

.PW {
  border-radius: 10px;
  padding: 10px 10px 10px;
}

.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.buttonWrap button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
}

.buttonWrap button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
